<html class="loginbody">

<body class="loginbody">
  <div class="navbar">
    <h1>MEME<span>PARADISE</span></h1>
  </div>

  <div class="main">
    <div class="registration">
      <form [formGroup]="productsFrom" (ngSubmit)="onProductCreate()">
        <label class="maintext">Create account</label>

        <div class="text_fieldd">
          <label class="textr">Name</label>
          <input type="text" name="name" autocomplete="off"   formControlName="name">
        </div>

        <div class="text_fieldd">
          <label class="textr">Email</label>
          <input type="text" name="email" autocomplete="off"   formControlName="email">
        </div>

        <div class="text_fieldd">
          <label class="textr">Password</label>
          <input type="password" name="password"   formControlName="password">
        </div>

        <div class="text_fieldd">
          <label class="textr">Birth Date</label>
          <input type="date" name="birthDate"   formControlName="birthDate">
        </div>

        <div class="login textr">
          <a href="login" class="hreftext" (click)="goToPage('login')" >Already have an account?</a>
        </div>





        <button type="submit">Registration</button>
      </form>
    </div>


  </div>

</body>

</html>
