<html class="loginbody">

<body class="loginbody">
  <div class="navbar">
    <h1>MEME<span>PARADISE</span></h1>
  </div>

  <div class="main">
    <div class="registration">
      <form #productsFrom="ngForm" (ngSubmit)="onProductCreate(productsFrom.value)">
        <label class="maintext">Create account</label>

        <div class="text_fieldd">
          <label class="textr">Name</label>
          <input type="text" name="name" ngModel>
        </div>

        <div class="text_fieldd">
          <label class="textr">Email</label>
          <input type="text" name="email" ngModel>
        </div>

        <div class="text_fieldd">
          <label class="textr">Password</label>
          <input type="text" name="password" ngModel>
        </div>

        <div class="text_fieldd">
          <label class="textr">Birth Date</label>
          <input type="date" name="birthDate" ngModel>
        </div>

        <div class="login textr">
          <a href="login" class="hreftext" (click)="goToPage('login')" >Already have an account?</a>
        </div>





        <button type="submit">Registration</button>
      </form>
    </div>


  </div>

</body>

</html>
