<html class="loginbody">

<body class="loginbody">
  <div class="navbar">
    <h1>MEME<span>PARADISE</span></h1>
  </div>

  <div class="main">
    <div class="registration">
      <form #productsFrom="ngForm" (ngSubmit)="onProductCreate(productsFrom.value)">
        <label>Name</label>
        <input type="text" name="name" ngModel>

        <label>Email</label>
        <input type="text" name="email" ngModel>

        <label>Password</label>
        <input type="text" name="password" ngModel>

        <label>Birth Date</label>
        <input type="date" name="birthDate" ngModel>

        <button type="submit">Registration</button>
      </form>
    </div>


  </div>

</body>

</html>
