<html class="loginbody">

<body class="loginbody">
  <div class="navbar">
    <h1>MEME<span>PARADISE</span></h1>
  </div>


  <div class="main">
    <div class="thislogin">




      <form #productsFrom="ngForm" (ngSubmit)="loginProduct(productsFrom.value)">
        <label class="maintext">Welcome back!</label>
        <div class="text_fieldd">
          <label class="textr">Email</label>
          <div class="input-box">
            <input type="email" name="email" ngModel autocomplete="off">
          </div>

        </div>
        <div class="text_fieldd">
          <label class="textr">Password</label>
          <div class="input-box">
            <input type="password" name="password" ngModel>
          </div>

        </div>

        <button class="loginbutton" type="submit">Login</button>
        <div class="registration textr">
          Not Registered? <a href="registration" class="hreftext" (click)="goToPage('registration')"  >Register now</a>
        </div>
      </form>

    </div>
    <div class="loginmeme" id="loginmeme">


    </div>
  </div>

</body>

</html>
