<html class="mainbody">
  <body class="mainbody">
    <div class="navbar">
      <h1>MEME<span>PARADISE</span></h1>
      <nav>
        <ul class="navbarul">
            <li class="navbarli"><a href="main">Home</a></li>
            <li class="navbarli"><a (click)="loadallpicture()" >Pictures</a></li>
            <li class="navbarli"><a (click)="loadallvideo()">Videos</a></li>
            <li class="navbarli"><a (click)="loadEnglish()">English</a></li>
            <li class="navbarli"><a (click)="loadHungary()">Hungary</a></li>
            <li class="navbarli"><input class="inputtagss" id="inputtagss"  type="text" placeholder="tags" maxlength="25" autocomplete="off" > <button id="search" (click)="searchcontent()">Search</button></li>
            <li *ngIf="datauser" class="navbarli"><a href="profile">{{datauser.name}}</a></li>

        </ul>
    </nav>
    </div>
    <div id="memes">


    </div>
  </body>
</html>
