* {
  box-sizing: border-box;
}
.mainbody{
  width: 100%;
  height: 100%;

}
.navbar{
  width: 100%;
  height: 70px;
  background-color: #282828;

}
.navbarul{
  float: right;
  margin-top: 8px;
  margin-right: 15px;
}
.navbarli{
  display: inline-block;
  padding: 15px 30px;
}
a{
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-size: 1,2vw;
  cursor: pointer;

}

a:hover{
  color: #f0c330;
  transition: 0.5s;
}
/*----------------------------------*/
h1{
  position: absolute;
  padding: 3px;
  float: left;
  margin-left: 2%;
  margin-top: 10px;
  color: #39ca74;
}
span{
  color: #ffffff;
}
/*----------------------------------*/
#memes{
  height: 100%;
  width: 100%;


  display: flex; flex-wrap: wrap; justify-content: center;

}
.navbarli{
  width: 120px;
}



input{
  background-color: #1E1F22;
  color: white;
  width: 120px;
  height: 25px;
  border: 0;
  border-radius: 5px;

}
#search{
  background-color: #767373ad;
  color: white;
  height: 25px;
  width: 100px;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
}
#search:hover{
  background-color: #404040 ;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

@media screen and (max-width: 1850px) {

  #memes{
    justify-content: center;
  }

}
@media screen and (max-width: 1170px) {

  #memes{
    justify-content: center;
  }
  .navbarul{
    margin: 0;
    padding: 0;

  }
  .navbarli{
    width: 110px;
  }

}
@media screen and (max-width: 1065px) {

  #memes{
    justify-content: center;
  }
  .navbarul{
    margin: 0;
    padding: 0;

  }
  .asd2{
    width: 80px;
  }

}
@media screen and (max-width: 930px) {

  #memes{
    justify-content: center;
  }
  .navbarul{
    margin: 0;
    padding: 0;

  }
  .asd2{
    width: 55px;
  }

}
@media screen and (max-width: 810px) {
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 110vh;
    top: 80px;
    left: -100%;
    background-color: #282828;
    text-align: center;
    transition: all ;
  }
  nav ul li{
    display: block;
  }
  nav ul li a{
    font-size: 20px;
  }
  #check:checked ~ ul{
    left: 0;
    position: static;
  }
  a:hover{
    background: none;
    color: #f0c330;
    transition: 0.5s;
  }


}

