<html class="mainbody">

<body class="mainbody">
  <div class="navbar">
    <h1 class="logoh1">MEME<span>PARADISE</span></h1>
    <nav>
      <ul class="navbarul">
        <li class="navbarli"><a href="index.html">Home</a></li>
        <li class="navbarli"><a href="picture.html">Pictures</a></li>
        <li class="navbarli"><a href="videos.html">Videos</a></li>
        <li class="navbarli"><a href="add.html">Add</a></li>
        <li *ngIf="datauser" class="navbarli"><a href="profile">{{datauser.name}}</a></li>

      </ul>
    </nav>
  </div>
  <div class="priflediv">
    <div class="inprofilnavbar">
      <div>
        <div class="asd2"><label class="profilelabel">Profile</label></div>
        <div class="asd2"><button class="navbarbutton" id="profilesettings">Profile Setting</button></div>
        <div class="asd2"><button class="navbarbutton" id="contentupload">Upload Content</button></div>
        <div class="asd2"><button class="navbarbutton" id="likescontent">Uploaded Content</button></div>
        <div class="asd2"><button class="navbarbutton logoutbutton" id="logout" (click)="logoutfuntion()">Sign out</button></div>

      </div>

    </div>
    <div class="profildata">
      <div id="profilesettingsmodal">
        <div>
          <h1 class="myaccounth1">My account</h1>
        </div>

        <div class="profildatabigdiv">
          <div class="profildatadivs">
            <h3>Username:</h3>
            <div class="profildatadivsinnn">
              <div class="diva"><label class="pofildatalabels" id="editinglabel">{{datauser.name}}</label><input id="edditname" type="text"></div>
              <div><button class="editingbutton" id="edditnamebutton">Editing</button></div>
            </div>
          </div>
          <div class="profildatadivs">
            <h3>E-Mail:</h3>
            <div class="profildatadivsinnn">
              <div class="diva"><label class="pofildatalabels" id="editinglabel2">{{datauser.email}}</label><input id="edditemail" type="text"></div>
              <div><button class="editingbutton" id="edditemailbutton2">Editing</button></div>
            </div>
          </div>
          <div class="profildatadivs">
            <h3>Password:</h3>
            <div class="profildatadivsinnn">
              <div class="diva"><label class="pofildatalabels" id="editinglabel3">{{hiddenPassword}}</label><label id="labeltext">Current password:<input id="edditpasswordold" type="text"></label><label id="labeltext2">New password:<input id="edditpasswordnew" type="text"></label></div>
              <div><button class="editingbutton" id="edditemailbutton3">Editing</button></div>
            </div>
          </div>
          <div>
            <h3>Registration Date:</h3>
            <div class="profildatadivsinnn">
              <div class="diva"><label class="pofildatalabels">{{datauser.registrationDate}}</label></div>
            </div>
          </div>
        </div>

      </div>
      <div id="contentuploadmodul">
        <div>
          <h1 class="myaccounth1">Upload Content</h1>
        </div>
        <form >
          <div class="profildatabigdiv">
            <div class="uploaddd">
              <select name="format" id="format" class="format">
                <option name="option2" selected disabled>Choose file type</option>
                <option value="video/*">Video</option>
                <option value="image/*">Image</option>
              </select>
              <input type="file" id="file" class="fileinput" (change)="getFile($event)">
              <label for="file" class="filelabel">Choose file...</label>
            </div>
           <!--<div class="uploaddd">
              <label class="labelcontent">Sensitive Content:</label>
              <input type="checkbox" class="chekboy">
            </div>-->
            <div class="uploaddd">
              <select name="format2" id="language-select" class="format2">
                <option id="option1" selected disabled>What language is in content</option>
                <option value="ENG">English</option>
                <option value="HUN">Hungary</option>
                <option value="OTHER">Other</option>
              </select>
            </div>
            <div class="uploaddd">
                <label class="addtaglabel">Add tags: </label>
                <label class="magyarazat">Tags are descriptive keywords you can add to your content to make it easier to find.</label>
                <div class="inputtagsdiv">
                  <input class="inputtagss"type="text" id="inputtags" placeholder="Add a tag..." maxlength="25" autocomplete="off"><button id="addtagsbutton" >Add tags</button>
                </div>
                <button id="clearbutton">Clear tags</button>
                <div id="tagdiv">

                </div>


            </div>
            <div class="uploadlastdiv">
              <button class="uploadbutton" (click)="creatContentfunctione()">Upload</button>
            </div>




          </div>

        </form>


      </div>
      <div id="likesmodul">
        <div>
          <h1 class="myaccounth1">Uploaded Content</h1>
        </div>

      </div>
    </div>
  </div>
</body>

</html>
