* {
  box-sizing: border-box;
}
.mainbody{
  width: 100%;
  height: 100%;
}
.navbar{
  width: 100%;
  height: 70px;
  background-color: #282828;
  position: fixed;
}
.navbarul{
  width: auto;
  float: right;
  margin-top: 8px;
  margin-right: 15px;
}
.navbarli{
  display: inline-block;
  padding: 15px 30px;
}
a{
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-size: 1,2vw;
}

a:hover{
  color: #f0c330;
  transition: 0.5s;
}
/*----------------------------------*/
h1{
  position: absolute;
  padding: 3px;
  float: left;
  margin-left: 2%;
  margin-top: 10px;
  color: #39ca74;
}
span{
  color: #ffffff;
}
/*----------------------------------*/
