* {
  box-sizing: border-box;
}
.mainbody{
  width: 100%;
  height: 100%;
  display: flex;

}
.navbar{
  width: 100%;
  height: 70px;
  background-color: #282828;
  position: fixed;
}
.navbarul{
  width: auto;
  float: right;
  margin-top: 8px;
  margin-right: 15px;
}
.navbarli{
  display: inline-block;
  padding: 15px 30px;
}
a{
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-size: 1,2vw;
}

a:hover{
  color: #f0c330;
  transition: 0.5s;
}
/*----------------------------------*/
.logoh1{
  position: absolute;
  padding: 3px;
  float: left;
  margin-left: 2%;
  margin-top: 10px;
  color: #39ca74;
}
span{
  color: #ffffff;
}
/*----------------------------------*/
.priflediv{
  width: 80%;
  height: 80%;
  background-color: #282828;
  border-radius: 5px;
  padding: 32px;
  display: flex;

  margin: auto;
  padding: 0;

}
/*----------------------------------*/
.inprofilnavbar{
  width: 25%;
  height: 100%;
  padding: 0;
  display: flex;
  justify-content:center ;
  border-right: 2px solid #00000065;
}
.profilelabel{
  color: white;
  width: 93px;
  height: 30px;
  font-size: 30px;
  margin: 0;
  padding-left: 5px;
  align-items: center;
}
.asd2{
  display: flex;
  justify-content: center;

  margin: 30px;

}
.profilelabel{
  margin-top: 20px;
  margin-bottom: 20px;
}
.navbarbutton{
  background-color: #282828;
  color: white;
  height: 40px;
  width: 200px;
  border: none;
  border-radius: 5px;
  font-size: medium;
}
.navbarbutton:hover{
  background-color: #404040 ;
}

/*----------------------------------*/
/*NAVBAR HIDDEN MENU*/
.profildata{
  width: 75%;
  height: 100%;
  padding: 0;
}
#profilesettingsmodal{
  display: none; /* Hidden by default */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */

}
#contentuploadmodul{
  display: block; /* Hidden by default */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}
#likesmodul{
  display: none; /* Hidden by default */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}
/*----------------------------------*/
/*PROFIL DATA*/
.myaccounth1{
  margin: 35px;
  margin-bottom: 10px;
  padding: 3px;
  color: #39ca74;
}
.profildatabigdiv{
  justify-content: center center;
  width: 100%;
  height: 50%;
  padding: 50px;
  color: white;


}
.profildatadivs{
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.242);
}
.pofildatalabels{
  padding-left: 10px;
  height: 100px;
}
.profildatadivsinnn{
  display: flex;
  margin-bottom: 10px;
}
.editingbutton{
  /*margin-left: 60%;*/
  background-color: #767373ad;
  color: white;
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 5px;
}
.editingbutton:hover{
  background-color: #878686ad;
}
.diva{
  width: 70%;
}
/*----------------------------------*/
/*CONTENT UPLOADE*/
.fileinput[type="file"]{
  display: none;
}
.filelabel{
  background-color: #7673735b;
  color: white;
  width: 200px;
  border: none;
  border-radius: 5px;
  border: 4px solid #7673735b;
  height: 40px;

}
.uploaddd{
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.242);
}
.format{
  margin-right: 20px;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.labelcontent{
  font-size: x-large;

}
.chekboy{
  width: 17px;
  height: 17px;
  margin-left: 20px;
  margin-bottom: 10px;
}
.format2{
  margin-right: 20px;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.addtaglabel{
  font-size: x-large;

}
.inputtagsdiv{
  margin-top: 20px;
  margin-bottom: 20px;
}
.inputtagss{
  margin-right: 20px;
  border-radius: 5px;
  width: 190px;
  height: 25px;
  font-size: 16px;

}
#addtagsbutton{

  background-color: #767373ad;
  color: white;
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 5px;
}
#addtagsbutton:hover{
  background-color: #404040 ;
}
#clearbutton{
  margin-bottom: 15px;
  background-color: #767373ad;
  color: white;
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 5px;
}
#clearbutton:hover{
  background-color: #404040 ;
}
#tagdiv{
  margin-bottom: 20px;
}

.uploadbutton{

  background-color: #767373ad;
  color: white;
  height: 50px;
  width: 130px;
  border: none;
  border-radius: 5px;
  font-size: x-large;
}
.uploadbutton:hover{
  background-color: #404040 ;
}
.magyarazat{
  font-size: medium;
  color: rgba(255, 255, 255, 0.652);
}

.uploadlastdiv{
  display: flex;
  justify-content: center ;


}
