<html class="mainbody">
  <body class="mainbody">
    <div class="navbar">
      <h1>MEME<span>PARADISE</span></h1>
      <nav>
        <ul class="navbarul">
            <li class="navbarli"><a href="index.html">Home</a></li>
            <li class="navbarli"><a href="picture.html">Pictures</a></li>
            <li class="navbarli"><a href="videos.html">Videos</a></li>
            <li class="navbarli"><a href="add.html">Add</a></li>
            <li *ngIf="datauser" class="navbarli"><a href="profile">{{datauser.name}}</a></li>

        </ul>
    </nav>
    </div>
    <div class="priflediv">
      <div class="inprofilnavbar">
        <div>
          <div class="asd2"><label class="profilelabel" >Profile</label></div>
          <div class="asd2"><button id="profilesettings" >Profile Setting</button></div>
          <div class="asd2"><button id="contentupload">Content Uploade</button></div>
          <div class="asd2"><button id="likescontent">Likes content</button></div>

        </div>

      </div>
      <div  class="profildata">
          <div id="profilesettingsmodal">
            <p>profilesettings</p>
            <button>as dadsad</button>
          </div>
          <div id="contentuploadmodul">
            <p>content Uploade</p>
            <button>as dadsad</button>
          </div>
          <div id="likesmodul">
            <p>Likes</p>
            <button>as dadsad</button>
          </div>
      </div>
    </div>
  </body>
</html>
